<h1>Show Fridge Scan</h1>

<%= link_to "Add an ingredient", fridge_scan_path %>

<ul>
  <% @fridge_scan.ingredient_list.split(", ").each do |ingredient| %>
    <li><%= ingredient %></li>
  <% end %>
</ul>
