<h1>Show Fridge Scan</h1>

<ul>
  <% @fridge_scan.ingredient_list.split(", ").each do |ingredient| %>
    <li><%= ingredient %></li>
  <% end %>
</ul>
<%= link_to "recipes", fridge_scan_recipes_path(@fridge_scan) %>
