// background
.new-scan-background{
  flex-grow: 1;
  background-image: linear-gradient(rgba(9, 193, 255, 0.2), rgba(9, 193, 255, 0.2)), url(frigo_home.png);
  background-position: center; // Center the image
  background-repeat: no-repeat; // Do not repeat the image
  background-size: cover; // Resize the background image to cover the entire container
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

// waiting page style
.waiting-scan-gif {
  padding-inline: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;

  h3 {
    font-size: 21px;
    font-family: "Chocolate Classical Sans", sans-serif;
    color: #A2580E;
    text-align: center;
    background-color: #e9e373;
    border-radius: 100px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 30px;
    width: 100%;
  }
  img {
    width: 60%;
    height: 55vh;
    object-fit: cover;
    box-shadow: 0px 0px 10px rgb(227, 180, 104);
    border-radius: 20px;
  }
}

// container
#new-scan-content {
  margin-top: 5rem;
  width: 100%;
  flex-grow: 1;
  margin-bottom: 1rem;
}

// Fix div for picture preview, so the preview doesn't affect the page's style
#preview-img-div {
  height: 40vh;
  width: 90%;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

// Preview of loaded picture
#photo-preview {
  max-width: 80vw;
  max-height: 40vh;
}

// submit button
#submit-photo {
  background-color: #dcf57a;
}
