<div class="pages-container">
  <h1 id="title-index">My favourites</h1>

  <div class="search_favourites">
    <%= form_with url: favourites_recipes_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: ""
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary submit_search" %>
    <% end %>
  </div>

    <%# FAVORIS %>
    <div class="recipe-grid">
      <% @recipes.each do |recipe| %>
        <%= render "recipe_card_index", recipe: recipe %>
      <% end %>
    </div>
</div>
