<div class="pages-container">
  <h1 class="title-index">Chief recipes</h1>


    <%# INDEX %>
    <div id="recipes_index" class="recipe-grid">
      <% @recipes.each do |recipe| %>
        <%= render "recipe_card_index", recipe: recipe %>
      <% end %>
    </div>
</div>
