<section class="min-vh-100 homepage-background">
  <div>
    <h1>Fridge2plate</h1>
    <div class="d-flex flex-column">
      <%= link_to "SCAN YOUR FRIDGE", new_fridge_scan_path, class: "home-buttons"%>
      <%= link_to "MY RECIPES", new_fridge_scan_path, class: "home-buttons"%>
    </div>
  </div>
</section>
