<section class="h-100 homepage-background">
  <div class="w-100">
    <h1 class="protest-riot">CookIt-up</h1>
    <div class="d-flex flex-column">
      <%= link_to "SCAN MY FRIDGE", new_fridge_scan_path, class: "home-buttons delius-unicase"%>
      <%= link_to "MY RECIPES", favourites_recipes_path, class: "home-buttons delius-unicase"%>
    </div>
  </div>
</section>
