/* title recipe */
.title-pages {
  font-family: "Chocolate Classical Sans", sans-serif;;
  color: #A2580E;
  text-align: center;
  margin: 3px 3px 3px 3px;
  padding: 8px;
}

/* div image recete, ingredients, minutes et difficulté*/
.card-show-image-ingredients {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-bottom: 8px;
  padding-top: 6px;
}

/* photo de la recette*/
.show-recipe-photo {
  border-radius: 10px;
  margin: 5px 3px 0px 3px;
}

/* heart pour ajouter a favoris*/
.heart-card-show {
  text-shadow: 1.5px 0 0 white, 1.5px 1.5px 0 white, 0 1.5px 0 white, -1.5px 1.5px 0 white, -1.5px 0 0 white, -1.5px -1.5px 0 white, 0 -1.5px 0 white, 1.5px -1.5px 0 white;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
}

.recipe-photo-container {
  position: relative;
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.icons-show-recipe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
  margin-inline: 5px;
  margin-left: 0;
}

.chef-toque-icon {
  width: 20px !important;
  height: auto !important;
}

.montre-icon {
  width: 20px !important;
  height: auto !important;
  margin-left: 2px !important;
}

/* title ingredients*/
.card-ingredients-show h3 {
  text-align:left;
  font-family: "Poppins", sans-serif;
}

/* title et ingredients*/
.card-ingredients-show {
  font-family: "Poppins", sans-serif;
  margin-left: 3px
}

.list-ingredients-show {
  margin-left: 0;
}

.ingredients-li-show {
  padding-top: 3px;
}

 /* title Steps to be a chef : */
.steps {
  font-family: "Chocolate Classical Sans", sans-serif;;
  color: #A2580E;
  text-align: center;
  background-color: #f5f5f5;
  margin: 10px 10px 10px 10px;
  height: 40px;
  padding-top: 8px;
  padding-bottom: 10px;
}

.step-item {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* message de congratulations*/
.message-congratulations {
  display: flex;
  background-color: #d1f552;
  height: 70px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 6vh;
}

.message-congratulations h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: #874605;
  margin: 3px 0px 3px 0px;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: white 2px 0px 0px, white 1.75517px 0.958851px 0px, white 1.0806px 1.68294px 0px, white 0.141474px 1.99499px 0px, white -0.832294px 1.81859px 0px, white -1.60229px 1.19694px 0px, white -1.97998px 0.28224px 0px, white -1.87291px -0.701566px 0px, white -1.30729px -1.5136px 0px, white -0.421592px -1.95506px 0px, white 0.567324px -1.91785px 0px, white 1.41734px -1.41108px 0px, white 1.92034px -0.558831px 0px;
}
