/* title recipe */
.title-pages {
  font-family: "Chocolate Classical Sans", sans-serif;;
  color: #A2580E;
  text-align: center;
  margin: 3px 3px 3px 3px;
  padding: 8px;
}

/* div image recete, ingredients, minutes et difficulté*/
.card-show-image-ingredients {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-bottom: 8px;
  padding-top: 6px;
}

/* photo de la recette*/
.show-recipe-photo {
  border-radius: 10px;
  margin: 5px 3px 0px 3px;
}

/* heart pour ajouter a favoris*/
.heart-card-show {
  text-shadow: 1.5px 0 0 white, 1.5px 1.5px 0 white, 0 1.5px 0 white, -1.5px 1.5px 0 white, -1.5px 0 0 white, -1.5px -1.5px 0 white, 0 -1.5px 0 white, 1.5px -1.5px 0 white;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
}

.recipe-photo-container {
  position: relative;
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.icons-show-recipe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
  margin-inline: 5px;
  margin-left: 0;
}

.chef-toque-icon {
  width: 20px !important;
  height: auto !important;
}

.montre-icon {
  width: 20px !important;
  height: auto !important;
  margin-left: 2px !important;
}

/* title ingredients*/
.card-ingredients-show h3 {
  text-align:left;
  font-family: "Poppins", sans-serif;
}

/* title et ingredients*/
.card-ingredients-show {
  font-family: "Poppins", sans-serif;
}

.list-ingredients-show {
  margin-left: 0;
}

.ingredients-li-show {
  padding-top: 3px;
}

 /* title Steps to be a chef : */
.steps {
  font-family: "Chocolate Classical Sans", sans-serif;;
  color: #A2580E;
  text-align: center;
  background-color: #f5f5f5;
  margin: 10px 10px 10px 10px;
  height: 40px;
  padding-top: 8px;
  padding-bottom: 10px;
}

.step-item {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* message de congratulations*/
.message-congratulations {
  display: flex;
  background-color: #dcf57aaf;
  height: 70px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.message-congratulations h3 {
  font-family: "Quando", serif;
  font-size: 1.1rem;
  color: #874605;
  margin: 3px 0px 3px 0px;
}

.share {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.social-share-button {
  .ssb-icon {
    background-size: 30px 30px;
    height: 45px;
    width: 45px;
  }
}
