.alert {
  border-radius: 20px;
}

.alert-valid {
  background-color: #fade78;
  border: 3px solid rgb(77, 194, 38);
  color: rgb(77, 194, 38);
  font-weight: bold;
}

.alert-unvalid {
  background-color: #fade78;
  border: 3px solid rgb(223, 61, 61);
  color: rgb(223, 61, 61);
  font-weight: bold;

}
