
.recipe-grid {
  list-style-type: none;
  grid-template-columns: 1fr 1fr;
}

.card-recipe > img {
  height: 100px;
  width: 100%;
  object-fit: cover;
}

.heart-card {

padding-right: 3%;
  button {
    border: none;
    background-color: transparent;
  }
}


.card-recipe h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-recipe p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-recipe {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
  height: 200px;
  width: 200px;
}

.time-difficulty {
  display: flex;
  justify-content: space-between;

  }

.card-recipe-infos {
  padding: 16px;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
}

.title-card {
  right: 16px;
  top: 0px;
  font-family: poppins;
  text-decoration: none;
}
