.protest-riot {
  font-family: "Protest Riot", sans-serif;
}

.delius-unicase {
  font-family: "Delius Unicase", cursive;
}

.chocolate-classical-sans {
  font-family: "Chocolate Classical Sans", sans-serif;
}

.quando {
  font-family: "Quando", serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.merryweather {
  font-family: "Merriweather", serif;
}
