#ingredient-title {
  text-align: center;
  margin: 7px;
  color:#A2580E
}

.add-ingredient {
  background-color: #F5D351;
  border-radius: 10px; 
}

// #add-input{
//   background-color: rgb(114, 208, 114);
// }

#select-all {
  color: white;
  background-color: #F5D351;
  border-radius: 10px;
  margin-top: 10px;
}

#each-ingredient {
  color: white;
  background-color: #F5D351;
  border-radius: 10px;
}
