#ingredient-title {
  text-align: center;
  margin: 7px;
  color:#A2580E;
}

// Div de la page
#show-ingredient-list {
  text-align: center;
  justify-content: space-evenly;
}

/////////////////////////////
/// Select all Checkbox /////
/////////////////////////////
#select-all {
  position: absolute;
  transform: scale(0);
}

#select-all + label {
  width: 80%;
  cursor: pointer;
  font-size: larger;
  background-color: #FFF5D1;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px;
  color: rgb(236, 180, 50);
}

#select-all:checked + label {
  width: 80%;
  font-size: larger;
  background-color: #FFF5D1;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px;
  // color: rgb(236, 180, 50);
  color: #A2580E;
}

//////////////////////////////
//// Select Item Checkbox ////
//////////////////////////////

/* Style de base pour tous les checkboxes d'ingrédients */
#all-ingredient input[type="checkbox"] {
  position: absolute;
  transform: scale(0);
}

/* Style pour les labels des checkboxes */
#all-ingredient input[type="checkbox"] + label {
  cursor: pointer;
  width: 80%;
  font-size: larger;
  background-color: #FFF5D1;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px;
  color: rgb(236, 180, 50);
}

/* Style pour les labels des checkboxes cochées */
#all-ingredient input[type="checkbox"]:checked + label {
  width: 80%;
  font-size: larger;
  background-color: #FFF5D1;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px;
  color: #A2580E;
}

/* Style responsive */
@media (max-width: 600px) {
  #all-ingredient input[type="checkbox"] + label {
    font-size: medium;
  }
}

///////

.btn-group {
  position: fixed;
    bottom: 0px;
    margin-bottom: 15px;
    color: white;
}

#btn-create {
  position: fixed;
    bottom: 0px;
    right: 40px;
    margin-bottom: 15px;
    color: white;
}

.dropdown-menu.show {
  padding: 3px;
  background-color: #F5D351;
  border-radius: 7px;
  color: white;
}

.end-page-btn {
  position: fixed;
    bottom: 0px;
}
