#ingredient-title {
  text-align: center;
  margin-top: 15px;
  color:#A2580E;
  font-family: "Protest Riot", sans-serif;
}

// Div de la page
#show-ingredient-list {
  text-align: center;
  // display: flex;
  // flex-direction: column;
  // gap: 10px; /* Espace entre les divs */
}

// Btn add new ingredient
.add-ingredient {
  margin: 15px 0; /* Espacement autour du bouton */
  text-align: center; /* Centrer le contenu du div */
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

// Div form-add-ingredient
#form-add-ingredient {
  display: flex;
  justify-content: center;
  margin: 10px;
}

// Inpput (Text Field) du add form
#fridge_scan_new_ingredient {
  padding: 10px; /* Espacement interne pour le champ de texte */
  border: 1px solid #48be69; /* Bordure du champ de texte */
  border-radius: 5px; /* Coins arrondis */
  font-size: 16px; /* Taille de la police */
  width: calc(80% - 80px); /* Largeur du champ, ajustez selon vos besoins */
  margin-right: 10px; /* Espacement à droite pour séparer le champ du bouton */
  text-align: center;
  display: none;
}

// Btn '+'
.add-ingredient-btn {
  background-color: #0eca37; /* Couleur de fond du bouton */
  color: white; /* Couleur du texte */
  border: none; /* Pas de bordure */
  width: 40px;           /* Largeur du carré */
  height: 40px;          /* Hauteur du carré */
  border-radius: 50%;     /* Transforme le carré en cercle */
  font-size: 20px; /* Taille de la police */
  font-weight: bold; /* Texte en gras */
  cursor: pointer; /* Curseur en forme de main au survol */
  transition: background-color 0.3s ease; /* Transition douce pour le changement de couleur */
}

////////////////////////
// Div All ingredient //
////////////////////////

.all-ingredient {
  display: flex;
  flex-direction: column; /* Assure que les éléments s'empilent */
  overflow: auto; /* Permet le défilement si nécessaire */
  padding-bottom: 100px; /* Ajustez cette valeur selon la hauteur de vos boutons */
}


/////////////////////////////
/// Select all Checkbox /////
/////////////////////////////
#select-all {
  position: absolute;
  transform: scale(0);
}

#select-all + label {
  width: 80%;
  cursor: pointer;
  font-size: larger;
  font-weight: bold;
  background-color: #FFF5D1;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px;
  color: rgb(236, 180, 50);
}

#select-all:checked + label {
  width: 80%;
  font-size: larger;
  text-shadow: rgb(255, 255, 255) 0.5px 0px 0px, rgb(255, 255, 255) 1.75517px 0.958851px 0px, rgb(255, 255, 255) 0.5px 0.5px 0px, rgb(255, 255, 255) 0.5px 0.5px 0px, rgb(255, 255, 255) -0.832294px 1.81859px 0px, rgb(255, 255, 255) -0.5px 0.5px 0px, rgb(255, 255, 255) -0.5px 0.5px 0px, rgb(255, 255, 255) -0.5px -0.5px 0px, rgb(255, 255, 255) -1.30729px -1.5136px 0px, rgb(255, 255, 255) -0.421592px -1.95506px 0px, rgb(255, 255, 255) 0.5px -0.5px 0px, rgb(255, 255, 255) 0.5px -0.5px 0px, rgb(255, 255, 255) 0.5px -0.5px 0px;
  background-color: #fade78;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px;
  // color: rgb(236, 180, 50);
  color: #A2580E;
}

//////////////////////////////
//// Select Item Checkbox ////
//////////////////////////////

// Enlever default padding left simple form checkbox
.form-check {
  padding-left: 0px;
}

/* Style de base pour tous les checkboxes d'ingrédients */
#all-ingredient input[type="checkbox"] {
  position: absolute;
  transform: scale(0);
}

/* Style pour les labels des checkboxes */
#all-ingredient input[type="checkbox"] + label {
  cursor: pointer;
  width: 80%;
  font-weight: bold;
  font-size: large;
  background-color: #FFF5D1;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px;
  color: rgb(236, 180, 50);
}

/* Style pour les labels des checkboxes cochées */
#all-ingredient input[type="checkbox"]:checked + label {
  width: 80%;
  font-weight: bold;
  font-size: large;
  background-color: #fade78;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px;
  color: #A2580E;
}

////////////////////////////////////
/// Div des 2 btn du bas de page ///
////////////////////////////////////
.bottom-buttons-container {
  position: fixed; /* Changer de fixed à relative */
  bottom: 20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1000;
}

// Cooking Btn
#btn-create {
  background-color: #F5D351;
  color: #A2580E;
  border: none;
  padding: 10px 20px;
  border-radius: 30px; /* Bordures plus arrondies */
  font-weight: bold;
  font-size: 18px;     /* Police plus grande */
  width: 80%;          /* Largeur importante */
  max-width: 400px;    /* Largeur maximale */
  margin: 0; /* Espace en dessous */
  box-shadow: 0 4px 6px rgba(0,0,0,0.2); /* Ombre plus prononcée */
  text-shadow: rgb(255, 255, 255) 0.5px 0px 0px, rgb(255, 255, 255) 1.75517px 0.958851px 0px, rgb(255, 255, 255) 0.5px 0.5px 0px, rgb(255, 255, 255) 0.5px 0.5px 0px, rgb(255, 255, 255) -0.832294px 1.81859px 0px, rgb(255, 255, 255) -0.5px 0.5px 0px, rgb(255, 255, 255) -0.5px 0.5px 0px, rgb(255, 255, 255) -0.5px -0.5px 0px, rgb(255, 255, 255) -1.30729px -1.5136px 0px, rgb(255, 255, 255) -0.421592px -1.95506px 0px, rgb(255, 255, 255) 0.5px -0.5px 0px, rgb(255, 255, 255) 0.5px -0.5px 0px, rgb(255, 255, 255) 0.5px -0.5px 0px;
}

/* Bouton Filtre - En bas à droite */
.btn-group.dropup {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.btn-warning.dropdown-toggle {
  /* Styles pour le bouton filtre */
  background-color: #FFF5D1;
  color: #ba6b1d;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.dropdown-menu {
  background-color: #FFF5D1; /* Couleur de fond */
  border: 1px solid #F5D351; /* Bordure */
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Ombre */
  padding: 15px; /* Espacement interne */
  min-width: 250px; /* Largeur minimale */
}

/* Styles pour le label de la difficulté */
#difficulty_label {
  color: #A2580E; /* Couleur du texte */
  font-weight: bold; /* Gras */
  font-family: "Poppins", sans-serif; /* Police */
  text-transform: uppercase; /* Mettre en majuscules */
  margin-bottom: 5px; /* Espace en bas */
}

/* Styles pour le label du nombre d'invités */
#guest_label {
  color: #A2580E; /* Couleur du texte */
  font-weight: bold; /* Gras */
  font-family: "Poppins", sans-serif; /* Police */
  text-transform: uppercase; /* Mettre en majuscules */
  margin-bottom: 5px; /* Espace en bas */
}

.form-label abbr[title="required"] {
  display: none; /* Cache l'étoile obligatoire */
}


/* Media Query pour iPhone 11 (414px x 896px) */
@media only screen and (min-width: 414px) and (max-width: 896px) {
  #btn-create {
      width: calc(80% - 40px); /* Prend presque toute la largeur avec des marges */
      max-width: none; /* Supprime la largeur maximale pour s'adapter à l'écran */
  }
}
