.title-pages {
  color: #A2580E;
  text-align: center;
}

.card-ingredients-show {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.steps {
  color: #A2580E;
  text-align: center;
  background-color: #e9e373;

}
